<!DOCTYPE html>
<html>

<head>
    <title>Telebot1x</title>
    <style>
        body {
            background-color: #010299; /* blue background */
            color: white; /* White font color */
            font-size: 24px; /* Font size */
            text-align: center; /* Center text horizontally */
            padding: 50px; /* Add some padding for better appearance */
        }
    </style>
</head>

<body>
    <p>This is Telebot1x. If you see this, then the bot is up and running.</p>
</body>

</html>
